In [1]:
import os
import subprocess
import pandas as pd

## Check GC-matched negatives for training examples

In [28]:
gc_diff_dict_train = {'cluster': [i for i in range(1, 25) for j in range(10)], 'fold': [j for i in range(1, 25) for j in range(10)], 'diff_avg_gc': [], 'avg_diff_gc': []}
for i in range(1, 25):
    cluster = 'Cluster' + str(i)
    print(cluster)
    for j in range(10):
        gc_dict = {'pos':[], 'neg':[]}
        fold = 'fold' + str(j)
        pos = '/mnt/lab_data3/soumyak/adpd/clusters_gkmsvm/'+cluster+'/'+fold+'/train/train.final.pos.fasta'
        neg = '/mnt/lab_data3/soumyak/adpd/clusters_gkmsvm/'+cluster+'/'+fold+'/train/train.final.neg.fasta'
        pos_seqs = [i.strip().upper() for i in open(pos).readlines() if not i.startswith('>')]
        neg_seqs = [i.strip().upper() for i in open(neg).readlines() if not i.startswith('>')]
        pos_gc = sorted([(seq.count('G') + seq.count('C')) / len(seq) for seq in pos_seqs], reverse=True)
        neg_gc = sorted([(seq.count('G') + seq.count('C')) / len(seq) for seq in neg_seqs], reverse=True)
        gc_dict['pos'] = pos_gc
        gc_dict['neg'] = neg_gc
        gc_df = pd.DataFrame.from_dict(gc_dict)
        gc_df['diff'] = abs(gc_df['pos'] - gc_df['neg'])
        mean_pos_gc = gc_df['pos'].mean()
        mean_neg_gc = gc_df['neg'].mean()
        diff_avg_gc = abs(mean_pos_gc - mean_neg_gc)
        avg_diff_gc = gc_df['diff'].mean()
        gc_diff_dict_train['diff_avg_gc'].append(diff_avg_gc)
        gc_diff_dict_train['avg_diff_gc'].append(avg_diff_gc)
        #display(gc_df.head())
        #display(gc_df.tail())

Cluster1
Cluster2
Cluster3
Cluster4
Cluster5
Cluster6
Cluster7
Cluster8
Cluster9
Cluster10
Cluster11
Cluster12
Cluster13
Cluster14
Cluster15
Cluster16
Cluster17
Cluster18
Cluster19
Cluster20
Cluster21
Cluster22
Cluster23
Cluster24

In [29]:
gc_diff_df_train = pd.DataFrame.from_dict(gc_diff_dict_train)
display(gc_diff_df_train)
display(gc_diff_df_train.shape)
display(gc_diff_df_train.mean())

     cluster  fold  diff_avg_gc  avg_diff_gc
0          1     0     0.000917     0.001184
1          1     1     0.000743     0.001071
2          1     2     0.001266     0.001385
3          1     3     0.000884     0.001356
4          1     4     0.000371     0.001434
..       ...   ...          ...          ...
235       24     5     0.000956     0.001233
236       24     6     0.000380     0.001529
237       24     7     0.000933     0.001327
238       24     8     0.000074     0.001604
239       24     9     0.000929     0.001259

[240 rows x 4 columns]

(240, 4)

cluster        12.500000
fold            4.500000
diff_avg_gc     0.001119
avg_diff_gc     0.001570
dtype: float64

## Check GC-matched negatives for testing examples:

In [31]:
gc_diff_dict_test = {'cluster': [i for i in range(1, 25) for j in range(10)], 'fold': [j for i in range(1, 25) for j in range(10)], 'diff_avg_gc': [], 'avg_diff_gc': []}
for i in range(1, 25):
    cluster = 'Cluster' + str(i)
    print(cluster)
    for j in range(10):
        gc_dict = {'pos':[], 'neg':[]}
        fold = 'fold' + str(j)
        pos = '/mnt/lab_data3/soumyak/adpd/clusters_gkmsvm/'+cluster+'/'+fold+'/test/test.final.pos.fasta'
        neg = '/mnt/lab_data3/soumyak/adpd/clusters_gkmsvm/'+cluster+'/'+fold+'/test/test.final.neg.fasta'
        pos_seqs = [i.strip().upper() for i in open(pos).readlines() if not i.startswith('>')]
        neg_seqs = [i.strip().upper() for i in open(neg).readlines() if not i.startswith('>')]
        pos_gc = sorted([(seq.count('G') + seq.count('C')) / len(seq) for seq in pos_seqs], reverse=True)
        neg_gc = sorted([(seq.count('G') + seq.count('C')) / len(seq) for seq in neg_seqs], reverse=True)
        gc_dict['pos'] = pos_gc
        gc_dict['neg'] = neg_gc
        gc_df = pd.DataFrame.from_dict(gc_dict)
        gc_df['diff'] = abs(gc_df['pos'] - gc_df['neg'])
        mean_pos_gc = gc_df['pos'].mean()
        mean_neg_gc = gc_df['neg'].mean()
        diff_avg_gc = abs(mean_pos_gc - mean_neg_gc)
        avg_diff_gc = gc_df['diff'].mean()
        gc_diff_dict_test['diff_avg_gc'].append(diff_avg_gc)
        gc_diff_dict_test['avg_diff_gc'].append(avg_diff_gc)
        #display(gc_df.head())
        #display(gc_df.tail())

Cluster1
Cluster2
Cluster3
Cluster4
Cluster5
Cluster6
Cluster7
Cluster8
Cluster9
Cluster10
Cluster11
Cluster12
Cluster13
Cluster14
Cluster15
Cluster16
Cluster17
Cluster18
Cluster19
Cluster20
Cluster21
Cluster22
Cluster23
Cluster24

In [32]:
gc_diff_df_test = pd.DataFrame.from_dict(gc_diff_dict_test)
display(gc_diff_df_test)
display(gc_diff_df_test.shape)
display(gc_diff_df_test.mean())

     cluster  fold  diff_avg_gc  avg_diff_gc
0          1     0     0.000403     0.001928
1          1     1     0.000829     0.001891
2          1     2     0.001284     0.002020
3          1     3     0.003463     0.003479
4          1     4     0.002365     0.002510
..       ...   ...          ...          ...
235       24     5     0.001059     0.001727
236       24     6     0.001088     0.003079
237       24     7     0.001526     0.002311
238       24     8     0.001781     0.002183
239       24     9     0.001268     0.001946

[240 rows x 4 columns]

(240, 4)

cluster        12.500000
fold            4.500000
diff_avg_gc     0.001998
avg_diff_gc     0.002906
dtype: float64

## Check GC-matched negatives for new pipeline

In [36]:
new_gc_diff_dict_train = {'cluster': [i for i in range(1, 2) for j in range(10)], 'fold': [j for i in range(1, 2) for j in range(10)], 'diff_avg_gc': [], 'avg_diff_gc': []}
for i in range(1, 2):
    cluster = 'Cluster' + str(i)
    print(cluster)
    for j in range(10):
        gc_dict = {'pos':[], 'neg':[]}
        fold = 'fold' + str(j)
        pos = '/oak/stanford/groups/akundaje/soumyak/svm_pipelines/make_inputs/'+cluster+'/svm.inputs.'+cluster+'.train.'+str(j)+'.positives'
        neg = '/oak/stanford/groups/akundaje/soumyak/svm_pipelines/make_inputs/'+cluster+'/svm.inputs.'+cluster+'.train.'+str(j)+'.negatives'
        pos_seqs = [i.strip().upper() for i in open(pos).readlines() if not i.startswith('>')]
        neg_seqs = [i.strip().upper() for i in open(neg).readlines() if not i.startswith('>')]
        pos_gc = sorted([(seq.count('G') + seq.count('C')) / len(seq) for seq in pos_seqs], reverse=True)
        neg_gc = sorted([(seq.count('G') + seq.count('C')) / len(seq) for seq in neg_seqs], reverse=True)
        gc_dict['pos'] = pos_gc
        gc_dict['neg'] = neg_gc
        gc_df = pd.DataFrame.from_dict(gc_dict)
        gc_df['diff'] = abs(gc_df['pos'] - gc_df['neg'])
        mean_pos_gc = gc_df['pos'].mean()
        mean_neg_gc = gc_df['neg'].mean()
        diff_avg_gc = abs(mean_pos_gc - mean_neg_gc)
        avg_diff_gc = gc_df['diff'].mean()
        new_gc_diff_dict_train['diff_avg_gc'].append(diff_avg_gc)
        new_gc_diff_dict_train['avg_diff_gc'].append(avg_diff_gc)
        display(gc_df.head())
        display(gc_df.tail())

Cluster1

     pos    neg   diff
0  0.828  0.825  0.003
1  0.825  0.822  0.003
2  0.825  0.820  0.005
3  0.824  0.819  0.005
4  0.824  0.817  0.007

         pos    neg   diff
59994  0.294  0.291  0.003
59995  0.291  0.288  0.003
59996  0.291  0.286  0.005
59997  0.268  0.272  0.004
59998  0.212  0.215  0.003

     pos    neg   diff
0  0.844  0.829  0.015
1  0.828  0.827  0.001
2  0.827  0.823  0.004
3  0.825  0.821  0.004
4  0.825  0.821  0.004

         pos    neg   diff
59994  0.294  0.293  0.001
59995  0.291  0.290  0.001
59996  0.291  0.286  0.005
59997  0.268  0.271  0.003
59998  0.212  0.214  0.002

     pos    neg   diff
0  0.828  0.830  0.002
1  0.827  0.829  0.002
2  0.825  0.823  0.002
3  0.825  0.823  0.002
4  0.825  0.823  0.002

         pos    neg   diff
59994  0.298  0.296  0.002
59995  0.295  0.295  0.000
59996  0.294  0.294  0.000
59997  0.291  0.287  0.004
59998  0.212  0.206  0.006

     pos    neg   diff
0  0.844  0.830  0.014
1  0.828  0.828  0.000
2  0.827  0.823  0.004
3  0.825  0.822  0.003
4  0.825  0.822  0.003

         pos    neg   diff
59994  0.295  0.293  0.002
59995  0.294  0.289  0.005
59996  0.291  0.288  0.003
59997  0.268  0.271  0.003
59998  0.212  0.210  0.002

     pos    neg   diff
0  0.828  0.833  0.005
1  0.827  0.832  0.005
2  0.825  0.824  0.001
3  0.825  0.822  0.003
4  0.825  0.820  0.005

         pos    neg   diff
59994  0.300  0.297  0.003
59995  0.298  0.296  0.002
59996  0.294  0.294  0.000
59997  0.291  0.293  0.002
59998  0.291  0.292  0.001

     pos    neg   diff
0  0.828  0.831  0.003
1  0.827  0.825  0.002
2  0.825  0.825  0.000
3  0.825  0.824  0.001
4  0.825  0.822  0.003

         pos    neg   diff
59994  0.298  0.296  0.002
59995  0.295  0.295  0.000
59996  0.291  0.292  0.001
59997  0.291  0.287  0.004
59998  0.212  0.208  0.004

     pos    neg   diff
0  0.844  0.835  0.009
1  0.828  0.831  0.003
2  0.827  0.830  0.003
3  0.825  0.829  0.004
4  0.825  0.827  0.002

         pos    neg   diff
59994  0.295  0.294  0.001
59995  0.294  0.292  0.002
59996  0.291  0.290  0.001
59997  0.291  0.286  0.005
59998  0.212  0.210  0.002

     pos    neg   diff
0  0.844  0.830  0.014
1  0.828  0.830  0.002
2  0.827  0.830  0.003
3  0.825  0.829  0.004
4  0.825  0.828  0.003

         pos    neg   diff
59994  0.294  0.294  0.000
59995  0.291  0.293  0.002
59996  0.291  0.293  0.002
59997  0.268  0.267  0.001
59998  0.212  0.212  0.000

     pos    neg   diff
0  0.828  0.843  0.015
1  0.827  0.840  0.013
2  0.825  0.838  0.013
3  0.825  0.837  0.012
4  0.824  0.836  0.012

         pos    neg   diff
59994  0.294  0.292  0.002
59995  0.291  0.291  0.000
59996  0.291  0.291  0.000
59997  0.268  0.266  0.002
59998  0.212  0.206  0.006

     pos    neg   diff
0  0.827  0.924  0.097
1  0.825  0.911  0.086
2  0.825  0.903  0.078
3  0.825  0.900  0.075
4  0.824  0.888  0.064

         pos    neg   diff
59994  0.295  0.292  0.003
59995  0.294  0.290  0.004
59996  0.291  0.287  0.004
59997  0.291  0.286  0.005
59998  0.212  0.211  0.001

In [37]:
new_gc_diff_df_train = pd.DataFrame.from_dict(new_gc_diff_dict_train)
display(new_gc_diff_df_train)
display(new_gc_diff_df_train.shape)
display(new_gc_diff_df_train.mean())

   cluster  fold  diff_avg_gc  avg_diff_gc
0        1     0     0.000202     0.000215
1        1     1     0.000168     0.000191
2        1     2     0.000167     0.000193
3        1     3     0.000180     0.000217
4        1     4     0.000199     0.000297
5        1     5     0.000359     0.000462
6        1     6     0.000418     0.001040
7        1     7     0.001568     0.001813
8        1     8     0.002025     0.002422
9        1     9     0.003204     0.003442

(10, 4)

cluster        1.000000
fold           4.500000
diff_avg_gc    0.000849
avg_diff_gc    0.001029
dtype: float64